  <h1>The Baseball Quiz</h1>

        <h2>Let's Play Ball!</h2>
          
          <div class="countdown"></div>
          
          <div class="question"></div>

          <div><ul class="choices"></ul></div>
          
          <div class="start"><button id="start">Start</button></div>

          <button type= 'submit'>Submit Quiz</button>
          
        